@charset "UTF-8"


    @import url('https://fonts.googleapis.com/css2? family= Noto+Sans:ital@1 & display=swap');

@font-face {
    font-family: 'Noto Sans', sem serifa;
    src: url('https://fonts.googleapis.com/css2? family= Noto+Sans:ital@1 & display=swap');
}

body {
    background-color: rgba(255, 184, 253, 0.447);
    color: rgb(68, 18, 114);
    max-width: 800px;
    min-width: 200px;

    text-align: justify;

    margin: 200px;
    padding: 20px;


    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}

main h1 {
    background-color:rgba(55, 237, 237, 0.254);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

main h2 {
    background-color: rgba(130, 227, 195, 0.278);
    color: rgb(169, 40, 225);
}

 main h3 {
    background-color:rgba(20, 220, 220, 0.226) ;
    font-family: 'Noto Sans', sem serifa;
    font-size: 20px;
    font-weight: bold;
}



img {
    margin: auto;
    width: 200px;
    padding: 10px;
    max-width: 670px;
    min-width: 200px;
}

li > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
}